<div class="grid grid-cols-2 gap-4">
  <a
    class="border-box border border-black px-4 py-2 text-center text-sm transition hover:bg-black hover:text-white focus-visible:bg-black focus-visible:text-white"
    href="mailto:c.b.campbell@icloud.com"
  >
    Email
  </a>
  <!-- <a class="hover:underline" href="https://vimeo.com/studiocampbell">Vimeo</a> -->
  <a
    class="cursor-pointer bg-neutral-800 px-4 py-2 text-center text-sm text-white transition hover:bg-neutral-900 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-neutral-800"
    href="https://www.instagram.com/studiocampbell/"
  >
    Instagram
  </a>
</div>
